VITE_FIREBASE_API_KEY=AIzaSyDi6yobYdDyLOLVSzueTAdqJfbsyhy-J3Q
VITE_FIREBASE_AUTH_DOMAIN=hivio-mis476.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hivio-mis476
VITE_FIREBASE_STORAGE_BUCKET=hivio-mis476.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1004884269119
VITE_FIREBASE_APP_ID=1:1004884269119:web:b671a86c5da205c862008a
